<div style="background-color: #666666;">
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						<img src="assets/images/logobrm.png">
					</span>
        <br>
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input #username="ngModel" [(ngModel)]="user.username" class="input100" type="text" name="email">
          <span class="focus-input100"></span>
          <span class="label-input100">Nombre de usuario</span>
        </div>
        <br>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input #password="ngModel" [(ngModel)]="user.password" class="input100" type="password" name="pass">
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>
        <br>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Iniciar
          </button>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/backgorund.jpg');">
      </div>
    </div>
  </div>
</div>
</div>
